<%= form_tag session_index_path, method:"post", class:"log_in" do%>
  <h2>로그인</h2>
  <input class = "btn" type="email" name = "email" placeholder="이메일을 입력하시오"/>
  <input class = "btn" type="password" name = "password" placeholder="비밀번호를 입력하시오"/>
  <input id = "submit" class = "btn" type="submit"/>
<% end %>
