<div class="main">
  <h1>안녕하세요. 진도표 등록/조회 사이트입니다.</h1>
  <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/16122989_1693589110655086_6307382425928335360_n.jpg?ig_cache_key=MTQzMTc0NjU3MzQ2MDgxNTE1MA%3D%3D.2" alt="">
</div>
