<div class="log_in">
  <h2>로그인</h2>
  <input class = "btn" type="text" placeholder="이메일을 입력하시오"/>
  <input class = "btn" type="password" placeholder="비밀번호를 입력하시오"/>
  <input id = "submit" class = "btn" type="submit"/>
</div>
